@import "tailwindcss";

@theme {
  --color-dark-navy: #092536;
  --color-light-beige: #ffecd9;
  --color-dark-brown: #4a0e07;
  --color-dark-yellow: #e5a657;
  
  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
